.container {
  display: grid;
  padding: 0 10px 0 10px;
  grid-template-columns: repeat 4, fr;
  grid-template-rows: 100vh 100vh 30vh 70vh 30vh 70vh 90vh 10vh;
  grid-gap: 5px 10px;
  grid-template-areas: 'overlay-image 		overlay-image    overlay-image    overlay-image' 'resume     resume   photo    photo' 'skills     skills   skills   skills' 'html       html     css      css' 'portfolio  portfolio   portfolio   portfolio' 'project1   project1     project2      project2' 'contact    contact      contact        contact' 'footer     footer       footer         footer'; }

.overlay-image {
  grid-area: overlay-image; }

.resume {
  background-color: gold;
  grid-area: resume;
  padding: 80px 20px 20px 20px; }

.photo {
  background-color: maroon;
  grid-area: photo;
  padding: 80px 20px 20px 20px; }

.skills {
  background-color: gray;
  grid-area: skills;
  padding: 80px 20px 20px 20px; }

.html {
  background-color: brown;
  grid-area: html;
  padding: 80px 20px 20px 20px; }

.css {
  background-color: navy;
  grid-area: css;
  padding: 80px 20px 20px 20px; }

.portfolio {
  background-color: yellow;
  grid-area: portfolio;
  padding: 80px 20px 20px 20px; }

.project1 {
  background-color: red;
  grid-area: project1;
  padding: 80px 20px 20px 20px; }

.project2 {
  background-color: green;
  grid-area: project2;
  padding: 80px 20px 20px 20px; }

.contact {
  background-color: pink;
  grid-area: contact;
  padding: 80px 20px 20px 20px; }

footer {
  background-color: violet;
  grid-area: footer;
  padding: 80px 20px 20px 20px; }

header {
  position: fixed;
  width: 95vw;
  margin: -8px 40px 0 10px;
  padding: 30px 20px 10px 20px;
  border-bottom: 1px solid grey;
  background-color: white; }

.flex {
  display: flex;
  justify-content: space-between; }

a:link {
  text-decoration: none;
  color: gray; }

a:visited {
  color: gray; }

.social {
  display: flex;
  width: 6em;
  margin-left: 2%;
  padding: 3px;
  font-size: 1.5em;
  justify-content: space-between; }

.logo {
  margin: -10px 8% 0 20%; }

.menu {
  display: flex;
  width: 20em;
  padding: 3px;
  justify-content: space-between; }

/* Conteneur principal */
.overlay-image {
  position: relative;
  top: 65px;
  width: 78%;
  height: 88%;
  margin: 0 auto; }

/* Image originale */
.image {
  display: block;
  width: 100%;
  height: 100%;
  opacity: .7; }

/* Texte original */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  border: 5px solid white;
  text-shadow: 2px 2px 2px #000;
  font-size: 30px;
  line-height: 1.5em; }

/* Old browsers 
.backstretch {

  background: #1e5799; 
  background: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, #7db9e8 100%); /* FF3.6+
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+
  background: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ 
  background: -o-radial-gradient(center, ellipse cover,  #1e5799 0%,#7db9e8 100%); // Opera 12+
  background: -ms-radial-gradient(center, ellipse cover,  #1e5799 0%,#7db9e8 100%); // IE10+
  background: radial-gradient(ellipse at center,  #1e5799 0%,#7db9e8 100%); // W3C
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient 
}
  
*/
.hero-animation {
  -webkit-animation: hue-animation 8s infinite;
  animation: hue-animation 8s infinite; }

@-webkit-keyframes hue-animation {
  0% {
    -webkit-filter: hue-rotate(0deg); }
  50% {
    -webkit-filter: hue-rotate(100deg); }
  100% {
    -webkit-filter: hue-rotate(0deg); } }
@keyframes hue-animation {
  0% {
    filter: hue-rotate(0deg); }
  50% {
    filter: hue-rotate(100deg); }
  100% {
    filter: hue-rotate(0deg); } }

/*# sourceMappingURL=main.css.map */
