@import url("https://fonts.googleapis.com/css?family=Lato|Roboto:300|Montserrat:200|Signika|Open+Sans|Poiret+One");
.hero-animation {
  -webkit-animation: hue-animation 16s infinite;
  animation: hue-animation 16s infinite; }

@-webkit-keyframes hue-animation {
  0% {
    -webkit-filter: hue-rotate(0deg); }
  50% {
    -webkit-filter: hue-rotate(40deg); }
  100% {
    -webkit-filter: hue-rotate(0deg); } }
@keyframes hue-animation {
  0% {
    filter: hue-rotate(0deg); }
  50% {
    filter: hue-rotate(40deg); }
  100% {
    filter: hue-rotate(0deg); } }
.container {
  display: grid;
  padding: 0 10px 0 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100vh 100vh auto;
  grid-template-areas: 'hero-overlay-image         hero-overlay-image    hero-overlay-image    hero-overlay-image' 'resume     resume   photo    photo' 'skills     skills   skills   skills' 'skill1       skill1     skill2      skill2' 'skill3       skill3     skill4      skill4' 'skill5       skill5     skill6      skill6' 'portfolio  portfolio   portfolio   portfolio' 'project1   project1     project2      project2' 'project3   project3     project4      project4' 'contact-overlay-image    contact-overlay-image      contact-overlay-image        contact-overlay-image' 'footer     footer       footer         footer'; }

.hero-overlay-image {
  grid-area: hero-overlay-image; }

.resume {
  grid-area: resume;
  padding: 80px 20px 20px 20px; }

.photo {
  grid-area: photo;
  padding: 80px 20px 20px 20px; }

.skills {
  grid-area: skills;
  padding: 80px 20px 20px 20px; }

.skill1 {
  grid-area: skill1;
  padding: 80px 20px 20px 20px; }

.skill2 {
  grid-area: skill2;
  padding: 80px 20px 20px 20px; }

.skill3 {
  grid-area: skill3;
  padding: 80px 20px 20px 20px; }

.skill4 {
  grid-area: skill4;
  padding: 80px 20px 20px 20px; }

.skill5 {
  grid-area: skill5;
  padding: 80px 20px 20px 20px; }

.skill6 {
  grid-area: skill6;
  padding: 80px 20px 20px 20px; }

.portfolio {
  grid-area: portfolio;
  padding: 80px 20px 20px 20px; }

.project1 {
  grid-area: project1;
  padding: 80px 20px 20px 20px; }

.project2 {
  grid-area: project2;
  padding: 80px 20px 20px 20px; }

.project3 {
  grid-area: project3;
  padding: 80px 20px 20px 20px; }

.project4 {
  grid-area: project4;
  padding: 80px 20px 20px 20px; }

.contact-overlay-image {
  grid-area: contact-overlay-image;
  padding: 80px 20px 20px 20px; }

footer {
  padding: 10px;
  grid-area: footer; }

.container-project {
  display: grid;
  padding: 0 10px 0 10px;
  grid-gap: 5px;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas: 'project-image-container project-text-container'; }

.project-image-container {
  grid-area: project-image-container;
  padding: 80px 20px 20px 20px; }

.project-text-container {
  grid-area: project-text-container;
  padding: 80px 20px 20px 20px; }

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    padding: 0 10px 0 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto auto auto auto auto auto auto auto auto auto auto auto auto 110vh auto;
    grid-template-areas: 'hero-overlay-image ' 'resume' 'photo' 'skills' 'skill1' 'skill2' 'skill3' 'skill4' 'skill5' 'skill6' 'portfolio' 'project1' 'project2' 'project3' 'project4' 'contact-overlay-image ' 'footer'; }

  .container-project {
    display: grid;
    padding: 0 10px 0 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "project-image-container" "\a     project-text-container"; } }
html {
  font-size: calc(.9em + .3vw); }

h1 {
  font-size: 2.5em;
  line-height: 1.2em; }

h2 {
  font-family: 'Open Sans';
  font-size: 2em; }

h3 {
  font-size: 1.7em; }

strong {
  font-weight: bolder; }

em {
  font-style: italic; }

.container {
  background-color: seashell; }

a {
  text-decoration: none;
  color: gray; }

a:hover {
  color: mediumaquamarine; }

header {
  position: fixed;
  z-index: 1;
  width: 98vw;
  margin: -8px 40px 0 -17px;
  padding: 30px 20px 10px 20px;
  border-bottom: 1px solid grey;
  background-color: white; }

.flex {
  display: flex;
  justify-content: space-between; }

.social {
  display: flex;
  width: 6em;
  margin-left: 2%;
  padding: 3px;
  font-size: 1.3em;
  justify-content: space-between; }

.logo {
  margin: -10px 8% 0 20%; }

.logo-project {
  margin: -10px 8% 0 20%; }

.menu {
  display: flex;
  width: 20em;
  padding: 3px;
  font-family: 'Roboto';
  font-size: .8em;
  justify-content: space-around; }

nav {
  width: 100%; }

@media screen and (max-width: 600px) {
  header {
    width: 95vw;
    margin: -8px 40px 0 4px; }

  .fa-linkedin-in:before {
    margin: -31px; }

  .fa-envelope:before {
    margin: -43px; }

  .social {
    margin-left: -4%; }

  .logo {
    display: none; }

  .menu {
    margin-right: 13px; } }
@media screen and (max-width: 425px) {
  header {
    width: 94vw;
    margin: -8px 40px 0 -3px; }

  .social {
    margin-left: -2%; }

  .menu {
    margin-right: 0; } }
/* Conteneur principal */
.hero-overlay-image {
  position: relative;
  top: 66px;
  width: 78%;
  height: 88%;
  margin: 0 auto; }

/* Image originale */
.hero-image {
  display: block;
  width: 100%;
  height: 100%;
  opacity: .7; }

/* Texte original */
.hero-text {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  border: 5px solid white;
  text-shadow: 2px 2px 2px #000;
  line-height: 3rem; }

.hero-subtitle {
  font-size: 1.3em; }

@media screen and (max-width: 768px) {
  .hero-text {
    top: 47%;
    height: 75%;
    line-height: 2rem; }

  .hero-image {
    width: 112%;
    height: auto;
    margin-left: -33px; }

  div.hero-text {
    width: 100%;
    height: auto;
    padding: 10px; } }
@media screen and (max-width: 1440px) {
  .hero-image {
    height: 98%; } }
@media screen and (max-width: 1024px) {
  .hero-image {
    height: 96%; } }
@media screen and (max-width: 600px) {
  .hero-image {
    width: 120%;
    height: 95%; } }
@media screen and (max-width: 375px) {
  .hero-image {
    width: 125%;
    height: 95%; } }
.resume {
  color: white;
  background-color: #B3B191; }

.resume-text {
  font-family: "Roboto"; }

.photo {
  display: flex;
  background-color: #B3B191;
  justify-content: center;
  align-items: center; }

.photo-sylvain {
  width: 40%;
  border-radius: 50%; }

.myButton {
  display: inline-block;
  padding: 8px 25px;
  cursor: pointer;
  text-decoration: none;
  color: #3a8a9e;
  border: 1px solid #d6bcd6;
  border-radius: 15px;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  box-shadow: 3px 4px 0 0 #899599;
  text-shadow: -1px 0 0 #e1e2ed;
  font-family: Arial; }

.myButton:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba; }

.myButton:active {
  position: relative;
  top: 1px; }

@media screen and (max-width: 768px) {
  .photo-sylvain {
    width: 45vh; }

  .photo {
    padding: 20px; } }
.skills {
  background-color: seashell; }

.skill1 {
  background-color: seashell; }

.skill2 {
  background-color: seashell; }

.skill3 {
  background-color: seashell; }

.skill4 {
  background-color: seashell; }

.skill5 {
  background-color: seashell; }

.skill6 {
  padding-bottom: 100px;
  background-color: seashell; }

.skill-title {
  font-size: 1.5em;
  font-family: 'Open Sans'; }

.skill-icon1 {
  color: orange;
  margin-right: 10px;
  font-size: 2.5em; }

.skill-icon2 {
  color: #0ff;
  margin-right: 10px;
  font-size: 2.5em; }

.skill-icon3 {
  color: pink;
  margin-right: 10px;
  font-size: 2.5em; }

.skill-icon4 {
  color: purple;
  margin-right: 10px;
  font-size: 2.5em; }

.skill-icon5 {
  color: yellow;
  margin-right: 10px;
  font-size: 2.5em; }

.skill-icon6 {
  color: red;
  margin-right: 10px;
  font-size: 2.5em; }

.skill-box {
  height: 15vw;
  padding: 12px 14px 0 20px;
  background-color: white;
  -webkit-box-shadow: 3px 6px 11px 4px rgba(0, 0, 0, 0.81);
  box-shadow: 3px 6px 11px 4px rgba(0, 0, 0, 0.81); }

.skill-subtitle {
  font-family: "Roboto"; }

.skill-text {
  font-family: 'Montserrat';
  font-weight: bolder;
  line-height: 25px;
  overflow: auto;
  font-size: 0.9em; }

@media screen and (max-width: 1024px) {
  .skill-box {
    height: 22vw; } }
@media screen and (max-width: 768px) {
  .skill-box {
    height: 90%; } }
.portfolio {
  color: white;
  background-color: mediumaquamarine; }

.project1 {
  text-align: center;
  background-color: mediumaquamarine; }

.project2 {
  text-align: center;
  background-color: mediumaquamarine; }

.project3 {
  text-align: center;
  background-color: mediumaquamarine; }

.project4 {
  padding-bottom: 100px;
  text-align: center;
  background-color: mediumaquamarine; }

.project-title {
  color: white;
  border-top: 5px solid;
  font-family: 'Roboto'; }

.project-text {
  color: #4a4a4a; }

.project-image-miniature {
  width: 100%;
  max-width: 450px;
  height: auto;
  transition: all ease 200ms; }

.project-image-miniature:hover {
  transform: scale(1.05);
  opacity: .9; }

.contact-overlay-image {
  position: relative;
  top: -70px;
  left: -20px;
  width: 100%; }

/* Image originale */
.contact-image {
  display: block;
  width: 100%; }

/* Texte original */
.contact-text {
  position: absolute;
  top: 66%;
  left: 50%;
  width: 56%;
  height: 64%;
  margin-top: -80px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  border: 5px solid white;
  font-family: 'Signika';
  font-size: 1.1em; }

.contact-title {
  margin-top: 80px; }

@media screen and (max-width: 768px) {
  .contact-text {
    top: 71%;
    width: 65%;
    height: 55%;
    font-size: .9em; }

  .contact-title {
    margin-top: 40px; }

  .contact-image {
    height: 100%; } }
footer {
  z-index: 1;
  text-align: center;
  background-color: lightgrey;
  font-size: .8em; }

@media screen and (max-width: 768px) {
  footer {
    padding: 13px; } }
.project-image-container {
  text-align: center;
  background-color: seashell;
  font-family: 'Lato';
  line-height: 1.2em; }

.project-image {
  width: 100%;
  max-width: 500px;
  height: auto; }

.big-project-title {
  margin-top: 6px;
  color: dimgray;
  font-family: 'Poiret One'; }

.project-text-container {
  text-align: justify;
  color: #582209;
  background-color: seashell;
  font-family: 'Roboto';
  line-height: 1.2em; }

.project-image:hover {
  opacity: .8; }

/*# sourceMappingURL=main.css.map */
