$link-color1: gray;
$link-color2: #98ff98;

$background-color1: white;
$background-color2: seashell;
$background-color3: mediumaquamarine;
$background-color4: powderblue;

$font-title: 'Open Sans';
$font-subtitle : 'Roboto';