$link-color1: gray;
$link-color2: mediumaquamarine; 

$background-color1: white;
$background-color2: seashell;
$background-color3: mediumaquamarine;
$background-color4: powderblue;
$background-color5: #b3b0e6;

$font-subtitle : 'Roboto';