.contact-overlay-image {
    position: relative;
    top: -70px;
    left: -20px;
    width: 100%;
}

/* Image originale */
.contact-image {
    display: block;
    width: 100%;
}

/* Texte original */
.contact-text {
    position: absolute;
    top: 66%;
    left: 50%;
    width: 56%;
    height: 64%;
    margin-top: -80px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    border: 5px solid white;
    font-family: 'Signika';
    font-size: 1.1em;
}

.contact-title {
    margin-top: 80px;
}



@media screen and (max-width: 768px) {
    .contact-text {
        top: 71%;
        width: 65%;
        height: 55%;
        font-size: .9em;
    }

    .contact-title {
        margin-top: 40px;
    }

    .contact-image {
        height: 100%;
    }
}
