.contact-overlay-image1 {
    overflow: hidden;
    position: relative;
    height: 500px;
    background: url('../img/contact.jpg') no-repeat center;
    background-size: cover;
}

.contact_container {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 6px 14px 50px 14px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    border: 8px solid white;
    font-family: 'Signika';
    font-weight: 700;
    line-height: 1.5em;
}

.contact_container h2 {
    margin: 0;
    padding: 44px;
    letter-spacing: .2em;
    font-size: 40px;
    line-height: 1.5em;
}


.link-color2 {
    color: white;
}


@media screen and (max-width: 425px) {
    .contact_container {
        width: 62vw;
        height: auto;
    }

    .contact_container h2 {
        padding: 44px 9px 44px 9px;
        font-size: 24px;
    }
}
