.hero-image1 {
    overflow: hidden;
    position: relative;
    height: 92vh;
    background: url('../img/hero1.jpg') no-repeat center;
    background-size: cover;
}

.hero_container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.hero_container h1 {
    margin: 0;
    letter-spacing: .2em;
    font-size: 72px;
        text-shadow: 0 0 10px dimgrey;
}

.hero_container h1 span {
    display: inline-block;
    padding: 6px 14px;
    border: 10px solid white;
}

.hero_subtitle {
    display: block;
    margin: 20px;
    text-shadow: 0 0 10px black;
    font-size: 26px;
}

.hero_btn {
    padding: 5px 0;
    transition: .3s all;
    border-radius: 100px;
    background: #f1f1f1;
    font-size: 18px;
    width: 200px;
    margin: 0 auto;
}

.hero_btn a {
        text-decoration: none;
    color: #313131;
}
.hero_btn:hover {
    opacity: .8;
        transform: scale(1.05);
}


@media screen and (max-width: 425px) {
    .hero_container h1 {
        font-size: 42px;
    }

    .hero_container h1 span {
        padding: 34px 14px;
    }

    .hero_subtitle {
        font-size: 22px;
    }
}
