
/* Conteneur principal */
.overlay-image {
    position: relative;
    top: 66px;
    width: 78%;
    height: 88%;
    margin: 0 auto;
}

/* Image originale */
.image {
    display: block;
    width: 100%;
    height: 100%;
    opacity: .7;
}

/* Texte original */
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    border: 5px solid white;
    text-shadow: 2px 2px 2px #000;
    font-size: 30px;
    line-height: 1.5em;
}
