.portfolio {
    color: white;
    background-color: $background-color3;
}

.project1 {
    text-align: center;
    background-color: $background-color3;
}

.project2 {
    text-align: center;
    background-color: $background-color3;
}

.project3 {
    text-align: center;
    background-color: $background-color3;
}

.project4 {
    padding-bottom: 100px;
    text-align: center;
    background-color: $background-color3;
}

.project-title {
    color: white;
    border-top: 5px solid;
    font-family: 'Roboto';
}

.project-text {
    color: #4a4a4a;
    font-family: 'Roboto';
    font-size: .9em;
}

.project-image-miniature {
    width: 90%;
    max-width: 450px;
    height: auto;
    transition: all ease 200ms;
}


// Effet au survol des miniatures
.project-image-miniature:hover {
    transform: scale(1.05);
    opacity: .9;
}
