.portfolio {
    background-color: $background-color3;
}

// PAREIL QUE SKILL-TITLE : A FACTORISER !
.portfolio-title {
    color: white;
    font-family: $font-title;
    font-size: 2.2em;
}

.project1 {
    text-align: center;
    background-color: $background-color3;
}

.project2 {
    text-align: center;
    background-color: $background-color3;
}

.project3 {
    text-align: center;
    background-color: $background-color3;
}

.project4 {
    text-align: center;
    background-color: $background-color3;
}

.project-title {
    color: white;
    border-top: 5px solid;
    font-family: 'Roboto';
    font-size: 2em;
}

.project-text {
    color: #4a4a4a;
    font-size: 110%;
}

.project-image-miniature {
    width: 100%;
    max-width: 450px;
    height: auto;
}
