.portfolio {
    background-color: $background-color3;
}

.project1 {
    text-align: center;
    background-color: $background-color3;
}

.project2 {
    text-align: center;
    background-color: $background-color3;
}

.project3 {
    text-align: center;
    background-color: $background-color3;
}

.project4 {
    text-align: center;
    background-color: $background-color3;
}

// PAREIL QUE SKILL-TITLE : A FACTORISER !
.portfolio-title {
    color: white;
    font-size: 2em;
}

.project-title {
    color: white;
    border-top: 5px solid;
    font-size: 2em;
}


.project-text {
    font-size: 1.1em;
    color: #4a4a4a;
}
