.project-image-container {
    text-align: center;
    background-color: $background-color2;
    font-family: 'Lato';
    line-height: 1.2em;
}

.project-image {
    width: 100%;
    max-width: 580px;
    height: auto;
}

.big-project-title {
    margin-top: 6px;
    color: dimgray;
    font-family: 'Poiret One';
}

.project-text-container {
    text-align: justify;
    color: #582209;
    background-color: $background-color2;
    font-family: 'Roboto';
    line-height: 1.2em;
}

// Effet au survol de l'image
.project-image:hover {
    opacity: .8;
}

.project-image-container {
    padding: 30px 20px 20px 20px;
}

.project-text-container {
    padding: 50px 30px 20px 30px;
}


@media screen and (max-width: 768px) {
    .project-image-container {
        padding: 50px 20px 20px 20px;
    }
    .project-text-container {
        padding: 60px 30px 20px 30px;
    }
}
