.project-image-container {
    text-align: center;
    background-color: $background-color2;
}

.project-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    opacity: .7;
}

.project-text-container {
    background-color: $background-color2;
}
