.project-image-container {
    text-align: center;
    background-color: $background-color2;
    font-family: 'Lato';
    font-size: 2em;
    line-height: 1.2em;
}

.project-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    opacity: .7;
}

.project-text-container {
    background-color: $background-color2;
    font-family: 'Lato';
    font-size: 1em;
    line-height: 1.2em;
}

// Effet au survol de l'image
.project-image:hover {
    opacity: .5;
}
