.resume {
    background-color: #fffdd0;
    font-size: 1.5em;
}

.photo {
    display: flex;
    background-color: white;

    justify-content: center;
    align-items: center;
}

.photo-sylvain {
    width: 40%;
    border-radius: 50%;
}
