.resume {
    color: white;
    background-color: $background-color5;
}

.resume-text {
    text-align: justify;
    font-family: $font-subtitle;
    line-height: 108%;
}

.photo {
    display: flex;
    background-color: $background-color5;

    justify-content: center;
    align-items: center;
}

.photo-sylvain {
    max-width: 45%;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.myButton {
    display: inline-block;
    padding: 8px 25px;
    cursor: pointer;
    transition: all ease 200ms;
    text-decoration: none;
    color: #3a8a9e;
    border: 1px solid #d6bcd6;
    border-radius: 15px;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    box-shadow: 3px 4px 0 0 #899599;
    text-shadow: -1px 0 0 #e1e2ed;
    font-family: Arial;
}
.myButton:hover {
    transform: scale(1.05);
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}
.myButton:active {
    position: relative;
    top: 1px;
}



@media screen and (max-width: 768px) {
    .photo-sylvain {
        max-width: 35%;
        margin-bottom: 40px;
    }

    .photo {
        padding: 20px;
    }

    .resume-text {
        line-height: 120%;
    }
}

@media screen and (max-width: 768px) {
    .photo-sylvain {
        max-width: 55%;
        margin-bottom: 40px;
    }
}
