.resume {
    color: white;
    background-color: $background-color4;
    text-shadow: 2px 2px grey;
    font-size: 1.5em;
}

.photo {
    display: flex;
    background-color: $background-color4;

    justify-content: center;
    align-items: center;
}

.photo-sylvain {
    width: 40%;
    border-radius: 50%;
}

.myButton {
    display: inline-block;
    padding: 8px 25px;
    cursor: pointer;
    text-decoration: none;
    color: #3a8a9e;
    border: 1px solid #d6bcd6;
    border-radius: 15px;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    box-shadow: 3px 4px 0 0 #899599;
    text-shadow: -1px 0 0 #e1e2ed;
    font-family: Arial;
    font-size: 18px;
}
.myButton:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}
.myButton:active {
    position: relative;
    top: 1px;
}
