.skills {
    background-color: orange;
}

.skill1 {
    background-color: yellow;
}

.skill2 {
    background-color: yellow;
}

.html {
    height: 100px;
    background-color: white;
    -webkit-box-shadow: 3px 6px 11px 4px rgba(0,0,0,.81);
            box-shadow: 3px 6px 11px 4px rgba(0,0,0,.81);
}

.css {
    height: 100px;
    background-color: white;
    -webkit-box-shadow: 3px 6px 11px 4px rgba(0,0,0,.81);
            box-shadow: 3px 6px 11px 4px rgba(0,0,0,.81);
}
