.skills {
    background-color: $background-color2;
}

.skill1 {
    background-color: $background-color2;
}

.skill2 {
    background-color: $background-color2;
}

.skill3 {
    background-color: $background-color2;
}
.skill4 {
    background-color: $background-color2;
}
.skill5 {
    background-color: $background-color2;
}
.skill6 {
    padding-bottom: 100px;
    background-color: $background-color2;
}

.skill-title {
    font-family: $font-title;
    font-size: 2.2em;
}

.skill-icon1 {
    color: orange;

    @include SKILL-ICON;
}

.skill-icon2 {
    color: #0ff;

    @include SKILL-ICON;
}

.skill-icon3 {
    color: pink;

    @include SKILL-ICON;
}

.skill-icon4 {
    color: purple;

    @include SKILL-ICON;
}

.skill-icon5 {
    color: yellow;

    @include SKILL-ICON;
}

.skill-icon6 {
    color: red;

    @include SKILL-ICON;
}


.skill-box {
    height: 15vw;
    padding: 12px 14px 0 20px;
    background-color: white;
    -webkit-box-shadow: 3px 6px 11px 4px rgba(0,0,0,.81);
            box-shadow: 3px 6px 11px 4px rgba(0,0,0,.81);
}

.skill-subtitle {
    font-family: $font-subtitle;
    font-size: 1.2em;
    line-height: 1.5em;
    // overflow:auto;
}

.skill-text {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bolder;
    line-height: 25px;
    // overflow:auto;
}



@media screen and (max-width: 768px) {
    .skill-box {
        height: 90%;
    }

    .skill-text {
        font-size: calc(6px + .5em);
    }

    .skill-subtitle {
        font-size: calc(2px + 1em);
    }
}
