// Global style
html {
    font-size: calc(.9em + .3vw);
}

h1 {
    font-size: 2.5em;
    line-height: 1.2em;
}

h2 {
    font-family: 'Open Sans';
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

strong {
    font-weight: bolder;
}

em {
    font-style: italic;
}

.container {
    background-color: $background-color2;
}


// Basic styles for links

a {
    text-decoration: none;
    color: $link-color1;
}

a:hover {
    color: $link-color2;
}
