.container {
	padding: 0 10px 0 10px;
	display: grid;
	grid-template-columns: repeat (4, fr);
	grid-template-rows: 100vh 100vh 30vh 70vh 30vh 70vh 90vh 10vh;
	grid-template-areas:				
	"hello 		hello    image    image"
	"resume     resume   photo    photo"
	"skills     skills   skills   skills"
	"html       html     css      css"
	"portfolio  portfolio   portfolio   portfolio"
	"project1   project1     project2      project2"
	"contact    contact      contact        contact"
	"footer     footer       footer         footer";
}

.hello {
	grid-area: hello;
	background-color: green;
	@include GRID-PADDING;
}

.image {
	grid-area: image;
	background-color: teal;
	@include GRID-PADDING;
}

.resume {
	grid-area: resume;
	background-color: gold;
	@include GRID-PADDING;
}

.photo {
	grid-area: photo;
	background-color: maroon;
	@include GRID-PADDING;
}

.skills {
	grid-area: skills;
	background-color: gray;
	@include GRID-PADDING;
}

.html {
	grid-area: html;
	background-color: brown;
	@include GRID-PADDING;
}

.css {
	grid-area: css;
	background-color: navy;
	@include GRID-PADDING;
}

.portfolio {
	grid-area: portfolio;
	background-color: yellow;
	@include GRID-PADDING;
}

.project1 {
	grid-area: project1;
	background-color: red;
	@include GRID-PADDING;
}

.project2 {
	grid-area: project2;
	background-color: green;
	@include GRID-PADDING;
}

.contact {
	grid-area: contact;
	background-color: pink;
	@include GRID-PADDING;
}

footer {
	grid-area: footer;
	background-color: violet;
	@include GRID-PADDING;
}
