// Grille Principale

.container {
    display: grid;
    background-color: $background-color2;
    /*   grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh auto; */

    grid-template-areas: 'hero-image1 hero-image1 hero-image1 hero-image1'
    'resume     resume   photo    photo'
    'skills     skills   skills   skills'
    'skill1       skill1     skill2      skill2'
    'skill3       skill3     skill4      skill4'
    'skill5       skill5     skill6      skill6'
    'portfolio  portfolio   portfolio   portfolio'
    'project1   project1     project2      project2'
    'project3   project3     project4      project4'
    'contact-overlay-image1    contact-overlay-image1     contact-overlay-image1        contact-overlay-image1'
    'footer     footer       footer         footer';
}

.hero-image1 {
    grid-area: hero-image1;
}

.hero-overlay-image {
    grid-area: hero-overlay-image;
}

.resume {
    grid-area: resume;
    @include INNER-PADDING;
}

.photo {
    grid-area: photo;
    @include INNER-PADDING;
}

.skills {
    grid-area: skills;
    @include INNER-PADDING;
}

.skill1 {
    grid-area: skill1;
    @include INNER-PADDING;
}

.skill2 {
    grid-area: skill2;
    @include INNER-PADDING;
}

.skill3 {
    padding: 70px 30px 20px 30px;

    grid-area: skill3;
}
.skill4 {
    padding: 70px 30px 20px 30px;

    grid-area: skill4;
}
.skill5 {
    padding: 70px 30px 20px 30px;

    grid-area: skill5;
}
.skill6 {
    padding: 70px 30px 20px 30px;

    grid-area: skill6;
}

.portfolio {
    grid-area: portfolio;
    @include INNER-PADDING;
}

.project1 {
    grid-area: project1;
    @include GRID-PADDING;
}

.project2 {
    grid-area: project2;
    @include GRID-PADDING;
}

.project3 {
    grid-area: project3;
    @include GRID-PADDING;
}

.project4 {
    grid-area: project4;
    @include GRID-PADDING;
}


.contact-overlay-image1 {
    grid-area: contact-overlay-image1;
    @include GRID-PADDING;
}

footer {
    padding: 10px;

    grid-area: footer;
}



// Grille Project 1

.container-project {
    display: grid;

    grid-gap: 5px;
    grid-template-columns: 54.6% 45%;
    grid-template-areas: 'project-image-container project-text-container';
}

.project-text-container {
    grid-area: project-text-container;
}


@media screen and (max-width: 768px) {
    .container {
        display: grid;
        //      grid-template-columns: 1fr;

        grid-template-areas: 'hero-image1'
        'resume'
        'photo'
        'skills'
        'skill1'
        'skill2'
        'skill3'
        'skill4'
        'skill5'
        'skill6'
        'portfolio'
        'project1'
        'project2'
        'project3'
        'project4'
        'contact-overlay-image1 '
        'footer';
    }

    .container-project {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'project-image-container' 'project-text-container';
    }
}
