// Grille Principale

.container {
    display: grid;
    padding: 0 10px 0 10px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh auto;
    grid-template-areas: 'hero-overlay-image         hero-overlay-image    hero-overlay-image    hero-overlay-image'
    'resume     resume   photo    photo'
    'skills     skills   skills   skills'
    'skill1       skill1     skill2      skill2'
    'skill3       skill3     skill4      skill4'
    'skill5       skill5     skill6      skill6'
    'portfolio  portfolio   portfolio   portfolio'
    'project1   project1     project2      project2'
    'project3   project3     project4      project4'
    'contact-overlay-image    contact-overlay-image      contact-overlay-image        contact-overlay-image'

    'footer     footer       footer         footer';
}

.hero-overlay-image {
    grid-area: hero-overlay-image;
}

.resume {
    grid-area: resume;
    @include GRID-PADDING;
}

.photo {
    grid-area: photo;
    @include GRID-PADDING;
}

.skills {
    grid-area: skills;
    @include GRID-PADDING;
}

.skill1 {
    grid-area: skill1;
    @include GRID-PADDING;
}

.skill2 {
    grid-area: skill2;
    @include GRID-PADDING;
}

.skill3 {
    grid-area: skill3;
    @include GRID-PADDING;
}
.skill4 {
    grid-area: skill4;
    @include GRID-PADDING;
}
.skill5 {
    grid-area: skill5;
    @include GRID-PADDING;
}
.skill6 {
    grid-area: skill6;
    @include GRID-PADDING;
}

.portfolio {
    grid-area: portfolio;
    @include GRID-PADDING;
}

.project1 {
    grid-area: project1;
    @include GRID-PADDING;
}

.project2 {
    grid-area: project2;
    @include GRID-PADDING;
}

.project3 {
    grid-area: project3;
    @include GRID-PADDING;
}

.project4 {
    grid-area: project4;
    @include GRID-PADDING;
}


.contact-overlay-image {
    grid-area: contact-overlay-image;
    @include GRID-PADDING;
}

footer {
    padding: 10px;

    grid-area: footer;
}



// Grille Project 1

.container-project {
    display: grid;
    padding: 0 10px 0 10px;

    grid-gap: 5px;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: 'project-image-container project-text-container';
}

.project-image-container {
    grid-area: project-image-container;
    @include GRID-PADDING;
}

.project-text-container {
    grid-area: project-text-container;
    @include GRID-PADDING;
}



@media screen and (max-width: 768px) {
    .container {
        display: grid;
        padding: 0 10px 0 10px;

        grid-template-columns: 1fr;
        grid-template-rows: 100vh auto auto auto auto auto auto auto auto auto auto auto auto auto auto 110vh auto;
        grid-template-areas: 'hero-overlay-image '
        'resume'
        'photo'
        'skills'
        'skill1'
        'skill2'
        'skill3'
        'skill4'
        'skill5'
        'skill6'
        'portfolio'
        'project1'
        'project2'
        'project3'
        'project4'
        'contact-overlay-image '
        'footer';
    }

    .container-project {
        display: grid;
        padding: 0 10px 0 10px;

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'project-image-container' '
    project-text-container';
    }
}


